In [1]:
import pandas as pd

df_hourly = pd.read_csv(
    "hourly_power_consumption.csv",
    parse_dates=["datetime"],
    index_col="datetime"
)

df_hourly.head()

                     Global_active_power
datetime
2006-12-16 17:00:00             4.222889
2006-12-16 18:00:00             3.632200
2006-12-16 19:00:00             3.400233
2006-12-16 20:00:00             3.268567
2006-12-16 21:00:00             3.056467

In [2]:
df_feat = df_hourly.copy()

df_feat["lag_1"] = df_feat["Global_active_power"].shift(1)
df_feat["lag_24"] = df_feat["Global_active_power"].shift(24)
df_feat["lag_168"] = df_feat["Global_active_power"].shift(168)  # 7 days

In [3]:
df_feat["roll_mean_24"] = (
    df_feat["Global_active_power"]
    .rolling(window=24)
    .mean()
)

df_feat["roll_mean_168"] = (
    df_feat["Global_active_power"]
    .rolling(window=168)
    .mean()
)

In [4]:
df_feat["hour"] = df_feat.index.hour
df_feat["day_of_week"] = df_feat.index.dayofweek
df_feat["is_weekend"] = df_feat["day_of_week"].isin([5, 6]).astype(int)

In [5]:
df_feat.dropna(inplace=True)
df_feat.head()

,Global_active_power,lag_1,lag_24,lag_168,roll_mean_24,roll_mean_168,hour,day_of_week,is_weekend
datetime,,,,,,,,,
2006-12-23 17:00:00,5.452533,4.349100,1.496800,4.222889,3.099713,1.771265,17,5,1
2006-12-23 18:00:00,3.879400,5.452533,2.686967,3.632200,3.149397,1.772736,18,5,1
2006-12-23 19:00:00,4.117833,3.879400,3.938167,3.400233,3.156883,1.777008,19,5,1
2006-12-23 20:00:00,4.181400,4.117833,3.536067,3.268567,3.183772,1.782441,20,5,1
2006-12-23 21:00:00,3.288433,4.181400,4.548667,3.056467,3.131263,1.783822,21,5,1

In [8]:
df_feat.shape

(34421, 9)

In [9]:
df_feat.to_csv("hourly_features.csv")